Documentos analista opex/FASE_1_WORKFLOWS/wf_02_opex_monitor.json
{
  "name": "WF-02 | OPEX Monitor cada 2h",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 2 }] }
      },
      "id": "trigger-cron-2h",
      "name": "Cron cada 2 horas",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "opex_config", "mode": "list" },
        "where": {
          "values": [{ "column": "clave", "condition": "equal", "value": "kill_switch" }]
        },
        "limit": 1
      },
      "id": "check-killswitch",
      "name": "Verificar Kill Switch",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 300],
      "credentials": { "postgres": { "id": "2", "name": "Supabase OPEX BIA" } }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.valor }}",
              "rightValue": "true",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ]
        }
      },
      "id": "if-not-paused",
      "name": "¿Agente activo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [480, 300]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://bia.metabaseapp.com/api/card/66793/query/json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "METABASE_API_KEY_AQUI" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "id": "metabase-fetch-costos",
      "name": "Metabase: Fetch Costos OPEX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    },

    {
      "parameters": {
        "jsCode": "// Mapeo columnas card 66793 + filtro últimos 30 días\n// Columnas reales: titulo, tipo_de_servicio, journey, fase_actual, codigo_bia,\n// operador_de_red, contratista, fecha_programada, mercado,\n// costos_bia, service_cost, material_cost, transport_cost, other_cost, total_cost\n\nlet rows = [];\nif ($input.all().length > 1) {\n  rows = $input.all().map(i => i.json);\n} else {\n  const raw = $input.first().json;\n  rows = Array.isArray(raw) ? raw : (raw.data ? raw.data : [raw]);\n}\n\nconst cutoff = new Date();\ncutoff.setDate(cutoff.getDate() - 30);\n\nconst result = [];\nfor (const r of rows) {\n  const titulo = (r.titulo || '').toString().trim();\n  if (!titulo) continue;\n\n  const fechaRaw = r.fecha_programada || '';\n  if (!fechaRaw) continue;\n  if (new Date(fechaRaw) < cutoff) continue;\n  const fecha = fechaRaw.toString().split('T')[0];\n\n  const contratistaNombre = (r.contratista || 'SIN_CONTRATISTA').toString().trim();\n  const contratistaId = contratistaNombre\n    .toUpperCase()\n    .replace(/\\s+/g, '_')\n    .replace(/[^A-Z0-9_]/g, '');\n\n  result.push({\n    json: {\n      tx_id_fuente:       titulo,\n      contratista_id:     contratistaId,\n      contratista_nombre: contratistaNombre,\n      tipo_servicio:      (r.tipo_de_servicio || '').toString().trim(),\n      zona:               (r.mercado || '').toString().trim(),\n      or_nombre:          (r.operador_de_red || '').toString().trim(),\n      ot_id:              titulo,\n      fecha_tx:           fecha,\n      costo_unitario:     Number(r.total_cost || 0),\n      costo_total:        Number(r.total_cost || 0),\n      tiene_acta_cierre:  r.fase_actual === 'Cierre Exitoso',\n      notas_ot:           (r.journey || '').toString().trim()\n    }\n  });\n}\n\nreturn result.length > 0 ? result : [{ json: { sin_datos: true, count: 0 } }];"
      },
      "id": "code-transform-metabase",
      "name": "Code: Mapear Metabase → Transactions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },

    {
      "parameters": {
        "jsCode": "// Consolida TODOS los ítems en UN solo INSERT batch → 1 query en lugar de N\nconst items = $input.all();\n\nif (items.length === 0 || items[0].json.sin_datos) {\n  return [{ json: { sin_datos: true, count: 0 } }];\n}\n\nconst esc = s => (s || '').toString().replace(/'/g, \"''\");\n\n// Deduplicar por tx_id_fuente — Metabase puede devolver la misma OT varias veces\nconst seen = new Map();\nfor (const item of items) {\n  const key = item.json.tx_id_fuente;\n  if (!key) continue;\n  // Mantener la última ocurrencia (mayor costo_total si hay discrepancia)\n  if (!seen.has(key) || Number(item.json.costo_total) > Number(seen.get(key).json.costo_total)) {\n    seen.set(key, item);\n  }\n}\nconst unique = Array.from(seen.values());\n\nif (unique.length === 0) {\n  return [{ json: { sin_datos: true, count: 0 } }];\n}\n\nconst values = unique.map(item => {\n  const r = item.json;\n  return `('${esc(r.tx_id_fuente)}','${esc(r.contratista_id)}','${esc(r.contratista_nombre)}','${esc(r.tipo_servicio)}','${esc(r.zona)}','${esc(r.or_nombre)}','${esc(r.ot_id)}','${esc(r.fecha_tx)}'::DATE,${Number(r.costo_unitario)},${Number(r.costo_total)},${!!r.tiene_acta_cierre},'${esc(r.notas_ot)}',false)`;\n}).join(',');\n\nconst sql = `INSERT INTO opex_transactions (tx_id_fuente,contratista_id,contratista_nombre,tipo_servicio,zona,or_nombre,ot_id,fecha_tx,costo_unitario,costo_total,tiene_acta_cierre,notas_ot,procesado) VALUES ${values} ON CONFLICT (tx_id_fuente) DO UPDATE SET costo_total=EXCLUDED.costo_total,costo_unitario=EXCLUDED.costo_unitario,tiene_acta_cierre=EXCLUDED.tiene_acta_cierre,contratista_nombre=EXCLUDED.contratista_nombre,zona=EXCLUDED.zona,or_nombre=EXCLUDED.or_nombre WHERE opex_transactions.procesado=false;`;\n\nreturn [{ json: { sql, count: unique.length, duplicados_removidos: items.length - unique.length } }];"
      },
      "id": "code-batch-sql",
      "name": "Code: Build Batch INSERT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },

    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "if-hay-datos",
      "name": "¿Hay datos nuevos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1440, 300]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "postgres-upsert-transactions",
      "name": "Postgres: Upsert Batch Transactions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1680, 300],
      "credentials": { "postgres": { "id": "2", "name": "Supabase OPEX BIA" } }
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH txs AS (\n  SELECT t.*,\n    COALESCE(t.item_codigo,\n      (SELECT tar.item_codigo FROM opex_tarifario tar\n       WHERE tar.contratista_id = t.contratista_id\n         AND tar.activa = true\n         AND LOWER(tar.actividad) ILIKE '%' || LOWER(SPLIT_PART(t.tipo_servicio,' ',1)) || '%'\n       LIMIT 1)\n    ) AS item_resuelto\n  FROM opex_transactions t\n  WHERE t.procesado = false\n    AND t.fecha_tx >= CURRENT_DATE - INTERVAL '7 days'\n  LIMIT 500\n),\ncon_tarifa AS (\n  SELECT t.*,\n    get_tarifa_vigente(\n      t.contratista_id,\n      t.item_resuelto,\n      COALESCE(NULLIF(t.or_nombre,''), 'OTROS_OR'),\n      t.fecha_tx::DATE,\n      'diurna'\n    ) AS tarifa_vigente\n  FROM txs t\n)\nSELECT\n  ct.id           AS tx_id,\n  ct.tx_id_fuente,\n  ct.contratista_id,\n  ct.contratista_nombre,\n  ct.tipo_servicio,\n  ct.zona,\n  ct.or_nombre,\n  ct.costo_unitario,\n  ct.costo_total,\n  ct.fecha_tx,\n  ct.tiene_acta_cierre,\n  ct.ot_id,\n  ct.tarifa_vigente,\n  NULL::NUMERIC AS tolerancia_pct,\n  NULL::TEXT    AS tarifa_version,\n  CASE WHEN ct.tarifa_vigente IS NOT NULL AND ct.tarifa_vigente > 0\n    THEN ROUND(((ct.costo_unitario - ct.tarifa_vigente) / ct.tarifa_vigente) * 100, 2)\n  END AS delta_vs_tarifa_pct,\n  NULL::NUMERIC AS zscore,\n  (SELECT SUM(t2.costo_total) FROM opex_transactions t2\n   WHERE t2.contratista_id = ct.contratista_id\n     AND t2.fecha_tx >= DATE_TRUNC('month', ct.fecha_tx)\n     AND t2.fecha_tx < DATE_TRUNC('month', ct.fecha_tx) + INTERVAL '1 month'\n  ) AS ejecutado_mtd,\n  (SELECT b.monto_budget FROM opex_budget b\n   WHERE b.contratista_id = ct.contratista_id\n     AND b.anio = EXTRACT(YEAR FROM ct.fecha_tx)::INT\n     AND b.mes  = EXTRACT(MONTH FROM ct.fecha_tx)::INT\n   ORDER BY b.effective_from DESC LIMIT 1\n  ) AS budget_mes\nFROM con_tarifa ct;",
        "options": {}
      },
      "id": "query-enriched",
      "name": "Query Enriquecido con Tarifas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1920, 300],
      "credentials": { "postgres": { "id": "2", "name": "Supabase OPEX BIA" } }
    },

    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst alerts = [];\n\nfor (const item of items) {\n  const tx = item.json;\n\n  // A13: contratista operando en OR sin tarifa pactada\n  if (tx.costo_total > 0 && !tx.tarifa_vigente && tx.or_nombre && tx.contratista_id !== 'BIA') {\n    alerts.push({ json: {\n      codigo_alerta: 'A13', severidad: 'alta',\n      tx_id: tx.tx_id, contratista_id: tx.contratista_id,\n      contratista_nombre: tx.contratista_nombre || tx.contratista_id,\n      tipo_servicio: tx.tipo_servicio, zona: tx.zona || 'Sin zona',\n      ot_id: tx.ot_id,\n      valor_observado: tx.costo_total, valor_esperado: null,\n      narrativa_corta: `Sin tarifa pactada para ${tx.contratista_id} en OR ${tx.or_nombre} — operación fuera de zona o tarifario no cargado`,\n      accion_requerida: 'revision_contrato'\n    }});\n  }\n\n  if (tx.tarifa_vigente && tx.delta_vs_tarifa_pct !== null) {\n    const delta = Number(tx.delta_vs_tarifa_pct);\n    const tolerancia = Number(tx.tolerancia_pct || 3);\n\n    if (delta > 15) {\n      alerts.push({ json: {\n        codigo_alerta: 'A3', severidad: 'alta',\n        tx_id: tx.tx_id, contratista_id: tx.contratista_id,\n        contratista_nombre: tx.contratista_nombre || tx.contratista_id,\n        tipo_servicio: tx.tipo_servicio, zona: tx.zona || 'Sin zona',\n        ot_id: tx.ot_id,\n        valor_observado: tx.costo_unitario, valor_esperado: tx.tarifa_vigente,\n        delta_absoluto: tx.costo_unitario - tx.tarifa_vigente,\n        delta_pct: delta, zscore: null,\n        query_evidencia: `SELECT * FROM opex_transactions WHERE tx_id_fuente = '${tx.tx_id_fuente}'`,\n        narrativa_corta: `Costo ${delta.toFixed(1)}% sobre tarifa vigente ($${Number(tx.tarifa_vigente).toLocaleString('es-CO')})`,\n        tarifario_version: tx.tarifa_version,\n        accion_requerida: 'correo_borrador'\n      }});\n    } else if (delta > 5) {\n      alerts.push({ json: {\n        codigo_alerta: 'A2', severidad: 'media',\n        tx_id: tx.tx_id, contratista_id: tx.contratista_id,\n        contratista_nombre: tx.contratista_nombre || tx.contratista_id,\n        tipo_servicio: tx.tipo_servicio, zona: tx.zona || 'Sin zona',\n        ot_id: tx.ot_id,\n        valor_observado: tx.costo_unitario, valor_esperado: tx.tarifa_vigente,\n        delta_absoluto: tx.costo_unitario - tx.tarifa_vigente,\n        delta_pct: delta, zscore: null,\n        narrativa_corta: `Costo ${delta.toFixed(1)}% sobre tarifa pactada`,\n        tarifario_version: tx.tarifa_version,\n        accion_requerida: 'ticket'\n      }});\n    } else if (delta > tolerancia) {\n      alerts.push({ json: {\n        codigo_alerta: 'A1', severidad: 'baja',\n        tx_id: tx.tx_id, contratista_id: tx.contratista_id,\n        contratista_nombre: tx.contratista_nombre || tx.contratista_id,\n        tipo_servicio: tx.tipo_servicio, zona: tx.zona || 'Sin zona',\n        ot_id: tx.ot_id,\n        valor_observado: tx.costo_unitario, valor_esperado: tx.tarifa_vigente,\n        delta_absoluto: tx.costo_unitario - tx.tarifa_vigente,\n        delta_pct: delta, zscore: null,\n        narrativa_corta: `Desvío leve (${delta.toFixed(1)}%) vs tarifa — solo log`,\n        accion_requerida: 'log'\n      }});\n    }\n  }\n\n  if (tx.tiene_acta_cierre === false && tx.ot_id) {\n    const diasSinSoporte = (new Date() - new Date(tx.fecha_tx)) / (1000 * 60 * 60 * 24);\n    if (diasSinSoporte >= 7) {\n      alerts.push({ json: {\n        codigo_alerta: 'A7', severidad: 'media',\n        tx_id: tx.tx_id, contratista_id: tx.contratista_id,\n        contratista_nombre: tx.contratista_nombre || tx.contratista_id,\n        tipo_servicio: tx.tipo_servicio, zona: tx.zona || 'Sin zona',\n        ot_id: tx.ot_id,\n        valor_observado: diasSinSoporte, valor_esperado: 7,\n        narrativa_corta: `OT ${tx.ot_id} lleva ${Math.floor(diasSinSoporte)} días sin acta de cierre`,\n        accion_requerida: 'correo_operaciones'\n      }});\n    }\n  }\n\n  if (tx.ejecutado_mtd && tx.budget_mes && Number(tx.budget_mes) > 0) {\n    const desvio = ((Number(tx.ejecutado_mtd) - Number(tx.budget_mes)) / Number(tx.budget_mes)) * 100;\n    if (desvio > 10) {\n      alerts.push({ json: {\n        codigo_alerta: 'A9', severidad: 'alta',\n        tx_id: tx.tx_id, contratista_id: tx.contratista_id,\n        contratista_nombre: tx.contratista_nombre || tx.contratista_id,\n        zona: tx.zona || 'Sin zona',\n        valor_observado: tx.ejecutado_mtd, valor_esperado: tx.budget_mes,\n        delta_pct: desvio,\n        narrativa_corta: `Ejecutado MTD supera budget en ${desvio.toFixed(1)}%`,\n        accion_requerida: 'escalamiento'\n      }});\n    } else if (desvio > 5) {\n      alerts.push({ json: {\n        codigo_alerta: 'A8', severidad: 'media',\n        tx_id: tx.tx_id, contratista_id: tx.contratista_id,\n        contratista_nombre: tx.contratista_nombre || tx.contratista_id,\n        zona: tx.zona || 'Sin zona',\n        valor_observado: tx.ejecutado_mtd, valor_esperado: tx.budget_mes,\n        delta_pct: desvio,\n        narrativa_corta: `Ejecución MTD ${desvio.toFixed(1)}% sobre budget`,\n        accion_requerida: 'slack'\n      }});\n    }\n  }\n}\n\nreturn alerts.length > 0 ? alerts : [{ json: { sin_alertas: true, total: 0 } }];"
      },
      "id": "motor-reglas",
      "name": "Motor de Reglas y Severidad",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 300]
    },

    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.sin_alertas }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notTrue" }
            }
          ]
        }
      },
      "id": "if-hay-alertas",
      "name": "¿Hay alertas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2400, 300]
    },

    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "opex_alerts", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "codigo_alerta":     "={{ $json.codigo_alerta }}",
            "contratista_id":    "={{ $json.contratista_id }}",
            "contratista_nombre":"={{ $json.contratista_nombre }}",
            "tipo_servicio":     "={{ $json.tipo_servicio }}",
            "zona":              "={{ $json.zona }}",
            "ot_id":             "={{ $json.ot_id }}",
            "severidad":         "={{ $json.severidad }}",
            "estado":            "open",
            "valor_observado":   "={{ $json.valor_observado }}",
            "valor_esperado":    "={{ $json.valor_esperado }}",
            "delta_absoluto":    "={{ $json.delta_absoluto }}",
            "delta_pct":         "={{ $json.delta_pct }}",
            "zscore":            "={{ $json.zscore }}",
            "narrativa_corta":   "={{ $json.narrativa_corta }}",
            "query_evidencia":   "={{ $json.query_evidencia }}",
            "tarifario_version": "={{ $json.tarifario_version }}"
          }
        },
        "options": { "returnFields": "id, codigo_alerta, severidad" }
      },
      "id": "insert-alertas",
      "name": "Insertar Alertas en Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2640, 180],
      "credentials": { "postgres": { "id": "2", "name": "Supabase OPEX BIA" } }
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE opex_transactions SET procesado = true WHERE id IN (SELECT DISTINCT tx_id FROM opex_alerts WHERE generada_en > NOW() - INTERVAL '10 minutes') OR (procesado = false AND fecha_tx < CURRENT_DATE - INTERVAL '7 days');",
        "options": {}
      },
      "id": "marcar-procesadas",
      "name": "Marcar Transacciones Procesadas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2880, 180],
      "credentials": { "postgres": { "id": "2", "name": "Supabase OPEX BIA" } }
    },

    {
      "parameters": {
        "jsCode": "const allAlerts = $input.all();\nconst urgentes = allAlerts.filter(a => ['alta','critica'].includes(a.json.severidad));\nif (urgentes.length === 0) return [];\n\nconst resumen = urgentes.slice(0, 5).map(a => {\n  const ico = a.json.severidad === 'critica' ? '🔴' : '🟠';\n  return `${ico} [${a.json.codigo_alerta}] ${a.json.contratista_nombre || a.json.contratista_id} — ${a.json.zona} | ${a.json.narrativa_corta}`;\n}).join('\\n');\n\nreturn [{ json: { urgentes_count: urgentes.length, resumen_texto: resumen } }];"
      },
      "id": "agregar-para-slack",
      "name": "Agrupar Alertas Urgentes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 420]
    },

    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.urgentes_count }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "if-urgentes",
      "name": "¿Alertas urgentes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2880, 420]
    },

    {
      "parameters": {
        "select": "channel",
        "channelId": { "__rl": true, "value": "C0AVCTBV665", "mode": "id" },
        "text": "={{ '🚨 *' + $json.urgentes_count + ' alerta(s) alta/crítica nueva(s)* detectadas\\n\\n' + $json.resumen_texto }}",
        "otherOptions": {}
      },
      "id": "slack-alertas-urgentes",
      "name": "Notificar Alertas Urgentes Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [3120, 420],
      "credentials": { "slackApi": { "id": "3", "name": "Slack OPEX BIA" } }
    },

    {
      "parameters": {
        "select": "channel",
        "channelId": { "__rl": true, "value": "C0AUTK8B1HR", "mode": "id" },
        "text": "={{ '❌ *Error en WF-02 Monitor*\\n```' + ($json.error?.message || JSON.stringify($json)) + '```' }}",
        "otherOptions": {}
      },
      "id": "slack-error-monitor",
      "name": "Slack: Error Monitor",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [960, 540],
      "credentials": { "slackApi": { "id": "3", "name": "Slack OPEX BIA" } }
    }
  ],

  "connections": {
    "Cron cada 2 horas":                { "main": [[{ "node": "Verificar Kill Switch",            "type": "main", "index": 0 }]] },
    "Verificar Kill Switch":             { "main": [[{ "node": "¿Agente activo?",                  "type": "main", "index": 0 }]] },
    "¿Agente activo?":                  { "main": [[{ "node": "Metabase: Fetch Costos OPEX",       "type": "main", "index": 0 }], []] },
    "Metabase: Fetch Costos OPEX":      { "main": [[{ "node": "Code: Mapear Metabase → Transactions","type": "main", "index": 0 }]] },
    "Code: Mapear Metabase → Transactions": { "main": [[{ "node": "Code: Build Batch INSERT",     "type": "main", "index": 0 }]] },
    "Code: Build Batch INSERT":         { "main": [[{ "node": "¿Hay datos nuevos?",               "type": "main", "index": 0 }]] },
    "¿Hay datos nuevos?": {
      "main": [
        [{ "node": "Postgres: Upsert Batch Transactions", "type": "main", "index": 0 }],
        []
      ]
    },
    "Postgres: Upsert Batch Transactions": { "main": [[{ "node": "Query Enriquecido con Tarifas", "type": "main", "index": 0 }]] },
    "Query Enriquecido con Tarifas":    { "main": [[{ "node": "Motor de Reglas y Severidad",      "type": "main", "index": 0 }]] },
    "Motor de Reglas y Severidad":      { "main": [[{ "node": "¿Hay alertas?",                    "type": "main", "index": 0 }]] },
    "¿Hay alertas?": {
      "main": [
        [
          { "node": "Insertar Alertas en Supabase",  "type": "main", "index": 0 },
          { "node": "Agrupar Alertas Urgentes",      "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "Insertar Alertas en Supabase":     { "main": [[{ "node": "Marcar Transacciones Procesadas",  "type": "main", "index": 0 }]] },
    "Agrupar Alertas Urgentes":         { "main": [[{ "node": "¿Alertas urgentes?",               "type": "main", "index": 0 }]] },
    "¿Alertas urgentes?": {
      "main": [
        [{ "node": "Notificar Alertas Urgentes Slack", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "OPEX-BIA" }, { "name": "Fase-1" }, { "name": "Monitor" }],
  "meta": {
    "notes": "Cada 2h: 1) Fetch Metabase 66793 → 1 solo INSERT batch (no 867 queries). 2) Query enriquecido corre UNA vez. 3) Reglas A1-A9. 4) Slack alertas altas. CONFIGURAR: reemplazar METABASE_API_KEY_AQUI."
  }
}
