Documentos analista opex/FASE_2_WORKFLOWS/wf_05_anomaly_detector.json
{
  "name": "WF-05 | OPEX Detector de Anomalías Multi-capa",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 4 }] }
      },
      "id": "trigger-4h",
      "name": "Cron cada 4 horas",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT valor FROM opex_config WHERE clave = 'kill_switch' LIMIT 1;",
        "options": {}
      },
      "id": "check-ks",
      "name": "Check Kill Switch",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 300],
      "credentials": { "postgres": { "id": "92nLfZ0IlzU004no", "name": "Supabase Oráculo del Opex" } }
    },
    {
      "parameters": {
        "conditions": { "conditions": [{ "leftValue": "={{ $json.valor }}", "rightValue": "true", "operator": { "type": "string", "operation": "notEquals" } }] }
      },
      "id": "if-activo",
      "name": "¿Activo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- DETECTOR 1: Duplicados\n-- Mismo contratista + zona + fecha±1d + monto±5%\nSELECT\n  'A6' AS codigo_alerta, 'alta' AS severidad,\n  t1.id AS tx_id,\n  t1.contratista_id, t1.contratista_nombre,\n  t1.tipo_servicio, t1.zona, t1.ot_id,\n  t1.costo_total AS valor_observado,\n  t2.id AS tx_duplicado_id,\n  t2.costo_total AS valor_esperado,\n  0 AS zscore,\n  NULL AS delta_pct,\n  CONCAT('Posible duplicado con OT ', t2.ot_id, ' del ', t2.fecha_tx, ' monto $', t2.costo_total) AS narrativa_corta\nFROM opex_transactions t1\nJOIN opex_transactions t2 ON\n  t1.contratista_id = t2.contratista_id\n  AND t1.id < t2.id\n  AND ABS(t1.costo_total - t2.costo_total) / NULLIF(t1.costo_total, 0) <= 0.05\n  AND ABS(t1.fecha_tx - t2.fecha_tx) <= 1\n  AND (t1.zona = t2.zona OR (t1.zona IS NULL AND t2.zona IS NULL))\nWHERE t1.fecha_tx >= CURRENT_DATE - 30\n  AND NOT EXISTS (\n    SELECT 1 FROM opex_alerts a\n    WHERE a.tx_id = t1.id AND a.codigo_alerta = 'A6' AND a.estado != 'false_positive'\n  )\nLIMIT 50;",
        "options": {}
      },
      "id": "detector-duplicados",
      "name": "Detector: Duplicados (A6)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 120],
      "credentials": { "postgres": { "id": "92nLfZ0IlzU004no", "name": "Supabase Oráculo del Opex" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- DETECTOR 2: Sin soporte documental > 7 días (A7)\nSELECT\n  'A7' AS codigo_alerta, 'media' AS severidad,\n  t.id AS tx_id,\n  t.contratista_id, t.contratista_nombre,\n  t.tipo_servicio, t.zona, t.ot_id,\n  t.costo_total AS valor_observado,\n  7 AS valor_esperado,\n  EXTRACT(DAY FROM NOW() - t.fecha_factura) AS delta_pct,\n  NULL AS zscore,\n  CONCAT('OT ', t.ot_id, ' — ', EXTRACT(DAY FROM NOW() - t.fecha_factura)::INT, ' días sin acta de cierre') AS narrativa_corta\nFROM opex_transactions t\nWHERE t.tiene_acta_cierre = false\n  AND t.ot_id IS NOT NULL\n  AND t.fecha_factura IS NOT NULL\n  AND NOW() - t.fecha_factura > INTERVAL '7 days'\n  AND NOT EXISTS (\n    SELECT 1 FROM opex_alerts a\n    WHERE a.tx_id = t.id AND a.codigo_alerta = 'A7' AND a.estado != 'false_positive'\n  )\nLIMIT 50;",
        "options": {}
      },
      "id": "detector-sin-soporte",
      "name": "Detector: Sin Soporte (A7)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 300],
      "credentials": { "postgres": { "id": "92nLfZ0IlzU004no", "name": "Supabase Oráculo del Opex" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- DETECTOR 3: Patrón sistemático — mismo contratista ≥3 alertas activas en mes (A11)\nSELECT\n  'A11' AS codigo_alerta, 'critica' AS severidad,\n  NULL AS tx_id,\n  a.contratista_id,\n  MAX(a.contratista_nombre) AS contratista_nombre,\n  NULL AS tipo_servicio,\n  NULL AS zona, NULL AS ot_id,\n  COUNT(*) AS valor_observado,\n  3 AS valor_esperado,\n  NULL AS zscore,\n  ((COUNT(*) - 3.0) / 3.0 * 100) AS delta_pct,\n  CONCAT('Contratista con ', COUNT(*), ' alertas activas en el mes — revisar contrato/tarifario') AS narrativa_corta\nFROM opex_alerts a\nWHERE a.estado IN ('open','ack','in_progress')\n  AND a.generada_en >= DATE_TRUNC('month', CURRENT_DATE)\n  AND a.codigo_alerta NOT IN ('A11','A14')\nGROUP BY a.contratista_id\nHAVING COUNT(*) >= 3\n  AND NOT EXISTS (\n    SELECT 1 FROM opex_alerts x\n    WHERE x.contratista_id = a.contratista_id\n      AND x.codigo_alerta = 'A11'\n      AND x.generada_en >= DATE_TRUNC('month', CURRENT_DATE)\n      AND x.estado != 'false_positive'\n  );",
        "options": {}
      },
      "id": "detector-patron",
      "name": "Detector: Patrón Sistemático (A11)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 480],
      "credentials": { "postgres": { "id": "92nLfZ0IlzU004no", "name": "Supabase Oráculo del Opex" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- DETECTOR 4: Fuga silenciosa de margen (A12)\n-- Costo real agregado vs costo teórico (cantidad × tarifa vigente) por contratista/mes > 8%\nWITH tx_con_tarifa AS (\n  SELECT\n    t.contratista_id,\n    t.contratista_nombre,\n    t.costo_total,\n    t.cantidad,\n    get_tarifa_vigente(\n      t.contratista_id,\n      t.item_codigo,\n      COALESCE(NULLIF(t.or_nombre,''), 'OTROS_OR'),\n      t.fecha_tx::DATE,\n      'diurna'\n    ) AS tarifa_vigente\n  FROM opex_transactions t\n  WHERE t.fecha_tx >= DATE_TRUNC('month', CURRENT_DATE)\n    AND t.cantidad IS NOT NULL AND t.cantidad > 0\n    AND t.item_codigo IS NOT NULL\n)\nSELECT\n  'A12' AS codigo_alerta, 'alta' AS severidad,\n  NULL AS tx_id,\n  ct.contratista_id,\n  MAX(ct.contratista_nombre) AS contratista_nombre,\n  NULL AS tipo_servicio,\n  NULL AS zona,\n  NULL AS ot_id,\n  SUM(ct.costo_total) AS valor_observado,\n  SUM(ct.cantidad * ct.tarifa_vigente) AS valor_esperado,\n  NULL AS zscore,\n  ROUND(\n    ((SUM(ct.costo_total) - SUM(ct.cantidad * ct.tarifa_vigente)) / NULLIF(SUM(ct.cantidad * ct.tarifa_vigente), 0)) * 100,\n    2\n  ) AS delta_pct,\n  CONCAT(\n    'Fuga acumulada mes: $',\n    TO_CHAR(SUM(ct.costo_total) - SUM(ct.cantidad * ct.tarifa_vigente), 'FM999,999,999'),\n    ' vs costo teórico (',\n    ROUND(((SUM(ct.costo_total) - SUM(ct.cantidad * ct.tarifa_vigente)) / NULLIF(SUM(ct.cantidad * ct.tarifa_vigente), 0)) * 100, 1),\n    '% sobre tarifa)'\n  ) AS narrativa_corta\nFROM tx_con_tarifa ct\nWHERE ct.tarifa_vigente IS NOT NULL\nGROUP BY ct.contratista_id\nHAVING\n  SUM(ct.cantidad * ct.tarifa_vigente) > 0\n  AND ((SUM(ct.costo_total) - SUM(ct.cantidad * ct.tarifa_vigente)) / NULLIF(SUM(ct.cantidad * ct.tarifa_vigente), 0)) > 0.08\n  AND NOT EXISTS (\n    SELECT 1 FROM opex_alerts a\n    WHERE a.contratista_id = ct.contratista_id\n      AND a.codigo_alerta = 'A12'\n      AND a.generada_en >= DATE_TRUNC('month', CURRENT_DATE)\n      AND a.estado != 'false_positive'\n  );",
        "options": {}
      },
      "id": "detector-fuga",
      "name": "Detector: Fuga Silenciosa (A12)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 660],
      "credentials": { "postgres": { "id": "92nLfZ0IlzU004no", "name": "Supabase Oráculo del Opex" } }
    },
    {
      "parameters": {
        "jsCode": "// Combinar resultados de los 4 detectores que convergen en este nodo.\n// $input.all() recoge automáticamente los items de las 4 ramas upstream.\nconst todas = $input.all();\n\nif (todas.length === 0) return [{ json: { sin_alertas: true } }];\n\nreturn todas.map(item => ({ json: { ...item.json } }));"
      },
      "id": "combinar-detectores",
      "name": "Combinar Resultados Detectores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 420]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $json.sin_alertas }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notTrue" } }]
        }
      },
      "id": "if-anomalias",
      "name": "¿Anomalías encontradas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1200, 420]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres el Analista OPEX Virtual de BIA Energy. Analiza la siguiente anomalía detectada y responde SOLO con JSON válido en una sola línea, con esta estructura exacta: { \"causa_raiz\": \"...\", \"narrativa\": \"...\" }.\n\nReglas:\n1. \"causa_raiz\" (máx 1 línea): elige de [Facturación incorrecta, Material extra no autorizado, Error de datos, Retrabajo, Cambio de alcance sin aprobación, Tarifa desactualizada, Posible fraude, Otro].\n2. \"narrativa\" (máx 2 oraciones): explicación financiera sin jerga técnica.\n\nDatos de la anomalía:\n- Código: {{ $json.codigo_alerta }}\n- Contratista: {{ $json.contratista_nombre || $json.contratista_id }}\n- Tipo servicio: {{ $json.tipo_servicio }}\n- Zona: {{ $json.zona }}\n- Descripción: {{ $json.narrativa_corta }}\n- Valor observado: ${{ Number($json.valor_observado || 0).toLocaleString('es-CO') }}\n- Valor esperado: ${{ Number($json.valor_esperado || 0).toLocaleString('es-CO') }}",
        "options": {}
      },
      "id": "ai-agent-clasificacion",
      "name": "AI Agent: Clasificar Anomalía",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "openai-lm",
      "name": "OpenAI gpt-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1440, 480]
    },
    {
      "parameters": {
        "jsCode": "// El AI Agent reemplaza el JSON con su output, perdiendo los campos de la alerta original.\n// Recuperamos la alerta cruzando con 'Combinar Resultados Detectores' (paired item) y\n// fusionamos con la clasificación devuelta por el LLM.\nconst ia = $input.first().json;\nconst alerta = $('Combinar Resultados Detectores').item.json;\nconst rawText = ia.output || ia.text || ia.content || '';\n\nlet iaJson = {};\ntry {\n  const match = String(rawText).match(/\\{[\\s\\S]*\\}/);\n  if (match) iaJson = JSON.parse(match[0]);\n} catch (e) {}\n\nreturn [{\n  json: {\n    ...alerta,\n    causa_raiz_sugerida: iaJson.causa_raiz || 'Clasificación pendiente',\n    narrativa_ia: iaJson.narrativa || alerta.narrativa_corta\n  }\n}];"
      },
      "id": "enriquecer-con-ia",
      "name": "Enriquecer Alerta con IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "opex_alerts", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "codigo_alerta": "={{ $json.codigo_alerta }}",
            "contratista_id": "={{ $json.contratista_id }}",
            "contratista_nombre": "={{ $json.contratista_nombre }}",
            "tipo_servicio": "={{ $json.tipo_servicio }}",
            "zona": "={{ $json.zona }}",
            "ot_id": "={{ $json.ot_id }}",
            "severidad": "={{ $json.severidad }}",
            "estado": "open",
            "valor_observado": "={{ $json.valor_observado }}",
            "valor_esperado": "={{ $json.valor_esperado }}",
            "delta_pct": "={{ $json.delta_pct }}",
            "zscore": "={{ $json.zscore }}",
            "narrativa_corta": "={{ $json.narrativa_ia || $json.narrativa_corta }}",
            "causa_raiz_sugerida": "={{ $json.causa_raiz_sugerida }}"
          }
        },
        "options": { "returnFields": "id, codigo_alerta, severidad, contratista_nombre" }
      },
      "id": "insertar-alerta-anomalia",
      "name": "Insertar Alerta Anomalía",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1920, 300],
      "credentials": { "postgres": { "id": "92nLfZ0IlzU004no", "name": "Supabase Oráculo del Opex" } }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $json.severidad }}", "rightValue": "baja", "operator": { "type": "string", "operation": "notEquals" } }]
        }
      },
      "id": "if-notificar",
      "name": "¿Severidad notificable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2160, 300]
    },
    {
      "parameters": {
        "jsCode": "const alerta = $json;\nconst ia = $('Enriquecer Alerta con IA').first().json;\n\nconst sevIcon = alerta.severidad === 'critica' ? '🚨' : '⚠️';\nconst channel = alerta.severidad === 'critica' ? 'C0AVCTBV665' : 'C0AUWJ91V1T';\nconst nombre = alerta.contratista_nombre || alerta.contratista_id;\nconst narrativa = ia.narrativa_ia || alerta.narrativa_corta || '';\nconst causa = ia.causa_raiz_sugerida || 'N/D';\n\nconst slack_blocks = [\n  {\n    type: 'section',\n    text: { type: 'mrkdwn', text: `${sevIcon} *[${alerta.codigo_alerta}] ${String(alerta.severidad).toUpperCase()} — ${nombre}*\\n${narrativa}\\n\\n_Causa raíz sugerida (IA): ${causa}_` }\n  },\n  {\n    type: 'actions',\n    elements: [\n      { type: 'button', text: { type: 'plain_text', text: 'Aprobar' }, action_id: `aprobar_${alerta.id}`, style: 'primary', value: `aprobar_${alerta.id}` },\n      { type: 'button', text: { type: 'plain_text', text: 'Falso positivo' }, action_id: `fp_${alerta.id}`, style: 'danger', value: `fp_${alerta.id}` }\n    ]\n  }\n];\n\nreturn [{ json: { channel, slack_blocks, codigo_alerta: alerta.codigo_alerta } }];"
      },
      "id": "formatear-slack-anomalia",
      "name": "Formatear Notificación Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $json.channel }}\",\n  \"text\": \"Anomalía OPEX {{ $json.codigo_alerta }}\",\n  \"blocks\": {{ JSON.stringify($json.slack_blocks) }}\n}",
        "options": {}
      },
      "id": "slack-anomalia",
      "name": "Notificar Anomalía en Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2640, 300],
      "credentials": { "httpHeaderAuth": { "id": "GciOWwHMTLVJJuAu", "name": "Header Auth account 12" } }
    }
  ],
  "connections": {
    "Cron cada 4 horas": { "main": [[{ "node": "Check Kill Switch", "type": "main", "index": 0 }]] },
    "Check Kill Switch": { "main": [[{ "node": "¿Activo?", "type": "main", "index": 0 }]] },
    "¿Activo?": {
      "main": [[
        { "node": "Detector: Duplicados (A6)", "type": "main", "index": 0 },
        { "node": "Detector: Sin Soporte (A7)", "type": "main", "index": 0 },
        { "node": "Detector: Patrón Sistemático (A11)", "type": "main", "index": 0 },
        { "node": "Detector: Fuga Silenciosa (A12)", "type": "main", "index": 0 }
      ]]
    },
    "Detector: Duplicados (A6)": { "main": [[{ "node": "Combinar Resultados Detectores", "type": "main", "index": 0 }]] },
    "Detector: Sin Soporte (A7)": { "main": [[{ "node": "Combinar Resultados Detectores", "type": "main", "index": 0 }]] },
    "Detector: Patrón Sistemático (A11)": { "main": [[{ "node": "Combinar Resultados Detectores", "type": "main", "index": 0 }]] },
    "Detector: Fuga Silenciosa (A12)": { "main": [[{ "node": "Combinar Resultados Detectores", "type": "main", "index": 0 }]] },
    "Combinar Resultados Detectores": { "main": [[{ "node": "¿Anomalías encontradas?", "type": "main", "index": 0 }]] },
    "¿Anomalías encontradas?": {
      "main": [
        [{ "node": "AI Agent: Clasificar Anomalía", "type": "main", "index": 0 }],
        []
      ]
    },
    "AI Agent: Clasificar Anomalía": { "main": [[{ "node": "Enriquecer Alerta con IA", "type": "main", "index": 0 }]] },
    "OpenAI gpt-4o-mini": { "ai_languageModel": [[{ "node": "AI Agent: Clasificar Anomalía", "type": "ai_languageModel", "index": 0 }]] },
    "Enriquecer Alerta con IA": { "main": [[{ "node": "Insertar Alerta Anomalía", "type": "main", "index": 0 }]] },
    "Insertar Alerta Anomalía": { "main": [[{ "node": "¿Severidad notificable?", "type": "main", "index": 0 }]] },
    "¿Severidad notificable?": {
      "main": [
        [{ "node": "Formatear Notificación Slack", "type": "main", "index": 0 }],
        []
      ]
    },
    "Formatear Notificación Slack": { "main": [[{ "node": "Notificar Anomalía en Slack", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "OPEX-BIA" }, { "name": "Fase-2" }, { "name": "Anomalias" }],
  "meta": {
    "notes": "Detectores paralelos: A6 duplicados, A7 sin soporte, A11 patrón sistemático, A12 fuga silenciosa (usa get_tarifa_vigente con item_codigo + or_nombre). Gemini clasifica causa raíz y reescribe narrativa. Notifica a Slack con HTTP Request → chat.postMessage (Header Auth account 12) y botones Aprobar/FP enrutados a WF-04."
  }
}
