Documentos analista opex/FASE_2_WORKFLOWS/wf_06_forecast_rolling.json
{
  "name": "WF-06 | OPEX Forecast Rolling EWMA",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }] }
      },
      "id": "trigger-diario-8am",
      "name": "Cron Diario 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "notes": "Ejecuta a las 08:00 todos los días. El forecast se recalcula antes del resumen de 07:30 si se ajusta el schedule."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Datos para el forecast: ejecución diaria del mes en curso por dimensión\n-- Agrupado por día para calcular EWMA\nSELECT\n  DATE_TRUNC('day', t.fecha_tx) AS dia,\n  t.zona,\n  t.contratista_id,\n  t.categoria_contable,\n  SUM(t.costo_total) AS gasto_dia,\n  COUNT(*) AS n_transacciones\nFROM opex_transactions t\nWHERE t.fecha_tx >= CURRENT_DATE - INTERVAL '25 days'\n  AND t.fecha_tx <= CURRENT_DATE - 1\nGROUP BY DATE_TRUNC('day', t.fecha_tx), t.zona, t.contratista_id, t.categoria_contable\nORDER BY dia DESC;\n",
        "options": {}
      },
      "id": "query-historico-diario",
      "name": "Query Ejecución Diaria (25 días)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 180],
      "credentials": { "postgres": { "id": "2", "name": "Supabase OPEX BIA" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Pipeline: OTs programadas pendientes con costo esperado\nSELECT\n  t.zona,\n  t.contratista_id,\n  t.categoria_contable,\n  SUM(t.costo_total) AS costo_pipeline_esperado,\n  COUNT(*) AS n_ots_pendientes\nFROM opex_transactions t\nWHERE t.estado_ot = 'abierta'\n  AND t.fecha_tx >= CURRENT_DATE\n  AND t.fecha_tx <= DATE_TRUNC('month', CURRENT_DATE) + INTERVAL '1 month - 1 day'\nGROUP BY t.zona, t.contratista_id, t.categoria_contable;\n",
        "options": {}
      },
      "id": "query-pipeline",
      "name": "Query Pipeline OTs Pendientes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 420],
      "credentials": { "postgres": { "id": "2", "name": "Supabase OPEX BIA" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Budget del mes actual por dimensión\nSELECT\n  zona, contratista_id, categoria_contable,\n  SUM(monto_budget) AS budget_mes\nFROM opex_budget\nWHERE anio = EXTRACT(YEAR FROM CURRENT_DATE)\n  AND mes = EXTRACT(MONTH FROM CURRENT_DATE)\nGROUP BY zona, contratista_id, categoria_contable;\n\n-- También el total del mes (sin dimensiones)\nSELECT NULL AS zona, NULL AS contratista_id, NULL AS categoria_contable,\n  SUM(monto_budget) AS budget_mes\nFROM opex_budget\nWHERE anio = EXTRACT(YEAR FROM CURRENT_DATE)\n  AND mes = EXTRACT(MONTH FROM CURRENT_DATE)\n  AND zona IS NULL AND contratista_id IS NULL;",
        "options": {}
      },
      "id": "query-budget",
      "name": "Query Budget del Mes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 600],
      "credentials": { "postgres": { "id": "2", "name": "Supabase OPEX BIA" } }
    },
    {
      "parameters": {
        "jsCode": "// Motor EWMA: calcula proyección de cierre para cada dimensión\n// Fórmula: proyección = ejecutado_mtd + (ritmo_ewma × días_restantes) + pipeline\n\nconst historico = $('Query Ejecución Diaria (25 días)').all().map(i => i.json);\nconst pipeline = $('Query Pipeline OTs Pendientes').all().map(i => i.json);\nconst budgets = $('Query Budget del Mes').all().map(i => i.json);\n\nconst HOY = new Date();\nconst ANIO = HOY.getFullYear();\nconst MES = HOY.getMonth() + 1;\nconst DIA_DEL_MES = HOY.getDate();\nconst DIAS_EN_MES = new Date(ANIO, MES, 0).getDate();\nconst DIAS_RESTANTES = DIAS_EN_MES - DIA_DEL_MES;\nconst ALPHA = 0.3; // parámetro EWMA\n\n// Agrupar histórico por dimensión\nconst byDimension = {};\nfor (const row of historico) {\n  const key = `${row.zona || 'total'}|${row.contratista_id || 'todos'}|${row.categoria_contable || 'todas'}`;\n  if (!byDimension[key]) byDimension[key] = { dias: [], zona: row.zona, contratista_id: row.contratista_id, categoria_contable: row.categoria_contable };\n  byDimension[key].dias.push({ dia: row.dia, gasto: parseFloat(row.gasto_dia || 0) });\n}\n\nconst resultados = [];\n\n// Calcular EWMA por dimensión\nfor (const [key, dim] of Object.entries(byDimension)) {\n  const diasOrdenados = dim.dias.sort((a, b) => new Date(b.dia) - new Date(a.dia)); // más reciente primero\n  \n  // Solo últimos 20 días\n  const ultimos20 = diasOrdenados.slice(0, 20);\n  \n  // Ejecutado MTD (mes actual solamente)\n  const ejecutadoMTD = dim.dias\n    .filter(d => new Date(d.dia).getMonth() + 1 === MES && new Date(d.dia).getFullYear() === ANIO)\n    .reduce((sum, d) => sum + d.gasto, 0);\n  \n  // EWMA del ritmo diario\n  let ewma = ultimos20[0]?.gasto || 0;\n  for (let i = 1; i < ultimos20.length; i++) {\n    ewma = ALPHA * ultimos20[i].gasto + (1 - ALPHA) * ewma;\n  }\n  \n  // Pipeline para esta dimensión\n  const pipelineRow = pipeline.find(p =>\n    (p.zona === dim.zona || (!p.zona && !dim.zona)) &&\n    (p.contratista_id === dim.contratista_id || (!p.contratista_id && !dim.contratista_id)) &&\n    (p.categoria_contable === dim.categoria_contable || (!p.categoria_contable && !dim.categoria_contable))\n  );\n  const costosPipeline = parseFloat(pipelineRow?.costo_pipeline_esperado || 0);\n  \n  // Budget para esta dimensión\n  const budgetRow = budgets.find(b =>\n    (b.zona === dim.zona || (!b.zona && !dim.zona)) &&\n    (b.contratista_id === dim.contratista_id || (!b.contratista_id && !dim.contratista_id)) &&\n    (b.categoria_contable === dim.categoria_contable || (!b.categoria_contable && !dim.categoria_contable))\n  );\n  const budgetMes = parseFloat(budgetRow?.budget_mes || 0);\n  \n  // Proyección central\n  const proyeccionCentral = ejecutadoMTD + (ewma * DIAS_RESTANTES) + costosPipeline;\n  \n  // Banda de confianza P20/P80 (±20% del componente de ritmo)\n  const componenteRitmo = ewma * DIAS_RESTANTES;\n  const proyeccionP20 = ejecutadoMTD + (componenteRitmo * 0.8) + costosPipeline;\n  const proyeccionP80 = ejecutadoMTD + (componenteRitmo * 1.2) + costosPipeline;\n  \n  // Desviación vs budget\n  const desviacionPct = budgetMes > 0\n    ? ((proyeccionCentral - budgetMes) / budgetMes) * 100\n    : null;\n  \n  // Nivel de confianza: más alto cuando tenemos más datos\n  const nivelConfianza = Math.min(0.95, 0.5 + (ultimos20.length / 20) * 0.45);\n  \n  resultados.push({\n    json: {\n      anio: ANIO,\n      mes: MES,\n      fecha_calculo: HOY.toISOString().split('T')[0],\n      dia_del_mes: DIA_DEL_MES,\n      zona: dim.zona,\n      contratista_id: dim.contratista_id,\n      categoria_contable: dim.categoria_contable,\n      ejecutado_mtd: Math.round(ejecutadoMTD),\n      ritmo_ewma: Math.round(ewma),\n      pipeline_esperado: Math.round(costosPipeline),\n      proyeccion_central: Math.round(proyeccionCentral),\n      proyeccion_p20: Math.round(proyeccionP20),\n      proyeccion_p80: Math.round(proyeccionP80),\n      budget_mes: budgetMes || null,\n      desviacion_pct: desviacionPct !== null ? Math.round(desviacionPct * 100) / 100 : null,\n      nivel_confianza: Math.round(nivelConfianza * 100) / 100,\n      metodo: 'ewma',\n      // Para alertas\n      generar_alerta_A10: desviacionPct !== null && desviacionPct > 10 && DIAS_RESTANTES >= 5,\n      generar_alerta_A8: desviacionPct !== null && desviacionPct > 5 && !( desviacionPct > 10 && DIAS_RESTANTES >= 5 )\n    }\n  });\n}\n\n// Si no hay datos, retornar proyección base en cero\nif (resultados.length === 0) {\n  resultados.push({\n    json: {\n      anio: ANIO, mes: MES,\n      fecha_calculo: HOY.toISOString().split('T')[0],\n      dia_del_mes: DIA_DEL_MES,\n      zona: null, contratista_id: null, categoria_contable: null,\n      ejecutado_mtd: 0, ritmo_ewma: 0, pipeline_esperado: 0,\n      proyeccion_central: 0, proyeccion_p20: 0, proyeccion_p80: 0,\n      nivel_confianza: 0, metodo: 'ewma',\n      generar_alerta_A10: false, generar_alerta_A8: false\n    }\n  });\n}\n\nreturn resultados;"
      },
      "id": "calcular-ewma",
      "name": "Calcular EWMA Forecast",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 420]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "opex_forecasts", "mode": "list" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": { "onConflict": "ignore" }
      },
      "id": "guardar-forecast",
      "name": "Guardar Forecast en Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 420],
      "credentials": { "postgres": { "id": "2", "name": "Supabase OPEX BIA" } }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.generar_alerta_A10 }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      },
      "id": "if-alerta-A10",
      "name": "¿Generar A10 (Forecast crítico)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "opex_alerts", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "codigo_alerta": "A10",
            "severidad": "alta",
            "contratista_id": "={{ $json.contratista_id || 'EMPRESA' }}",
            "zona": "={{ $json.zona || 'Total' }}",
            "valor_observado": "={{ $json.proyeccion_central }}",
            "valor_esperado": "={{ $json.budget_mes }}",
            "delta_pct": "={{ $json.desviacion_pct }}",
            "estado": "open",
            "narrativa_corta": "={{ 'Forecast de cierre: $' + Number($json.proyeccion_central).toLocaleString('es-CO') + ' vs budget $' + Number($json.budget_mes || 0).toLocaleString('es-CO') + ' (' + ($json.desviacion_pct > 0 ? '+' : '') + Number($json.desviacion_pct).toFixed(1) + '%). Restan ' + (new Date(new Date().getFullYear(), new Date().getMonth()+1, 0).getDate() - new Date().getDate()) + ' días.' }}"
          }
        }
      },
      "id": "insertar-alerta-A10",
      "name": "Insertar Alerta A10",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, 180],
      "credentials": { "postgres": { "id": "2", "name": "Supabase OPEX BIA" } }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": { "__rl": true, "value": "C0AVCTBV665", "mode": "id" },
        "blocksUi": {
          "blocksValues": [
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": ":rotating_light: *Forecast crítico — Mes actual*\nProyección cierre: *${{ Number($json.proyeccion_central).toLocaleString('es-CO') }}* | Budget: *${{ Number($json.budget_mes || 0).toLocaleString('es-CO') }}*\nVariación proyectada: *{{ $json.desviacion_pct > 0 ? '+' : '' }}{{ Number($json.desviacion_pct).toFixed(1) }}%*  |  Confianza: {{ (Number($json.nivel_confianza) * 100).toFixed(0) }}%\n\nBanda: P20 ${{ Number($json.proyeccion_p20).toLocaleString('es-CO') }} — P80 ${{ Number($json.proyeccion_p80).toLocaleString('es-CO') }}\n\n_Acción sugerida: revisar con coordinador los principales drivers antes del cierre._"
              }
            },
            {
              "type": "actions",
              "elements": [
                {
                  "type": "button",
                  "text": { "type": "plain_text", "text": "Ver dashboard" },
                  "action_id": "abrir_dashboard",
                  "style": "primary",
                  "value": "dashboard"
                }
              ]
            }
          ]
        },
        "otherOptions": {}
      },
      "id": "slack-forecast-critico",
      "name": "Notificar Forecast Crítico Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1200, 420],
      "credentials": { "slackApi": { "id": "3", "name": "Slack OPEX BIA" } }
    }
  ],
  "connections": {
    "Cron Diario 08:00": {
      "main": [[
        { "node": "Query Ejecución Diaria (25 días)", "type": "main", "index": 0 },
        { "node": "Query Pipeline OTs Pendientes", "type": "main", "index": 0 },
        { "node": "Query Budget del Mes", "type": "main", "index": 0 }
      ]]
    },
    "Query Ejecución Diaria (25 días)": { "main": [[{ "node": "Calcular EWMA Forecast", "type": "main", "index": 0 }]] },
    "Query Pipeline OTs Pendientes": { "main": [[{ "node": "Calcular EWMA Forecast", "type": "main", "index": 0 }]] },
    "Query Budget del Mes": { "main": [[{ "node": "Calcular EWMA Forecast", "type": "main", "index": 0 }]] },
    "Calcular EWMA Forecast": { "main": [[{ "node": "Guardar Forecast en Supabase", "type": "main", "index": 0 }]] },
    "Guardar Forecast en Supabase": { "main": [[{ "node": "¿Generar A10 (Forecast crítico)?", "type": "main", "index": 0 }]] },
    "¿Generar A10 (Forecast crítico)?": {
      "main": [
        [
          { "node": "Insertar Alerta A10", "type": "main", "index": 0 },
          { "node": "Notificar Forecast Crítico Slack", "type": "main", "index": 0 }
        ],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "OPEX-BIA" }, { "name": "Fase-2" }, { "name": "Forecast" }],
  "meta": {
    "notes": "Forecast rolling EWMA α=0.3. Calcula proyección de cierre por zona/contratista/categoría. Genera A10 (forecast crítico) si proyección > budget × 1.10 con ≥5 días al cierre. Datos guardados en opex_forecasts."
  }
}
