Documentos analista opex/FASE_3_EVOLUTIVO/wf_08_alert_feedback_loop.json
{
  "name": "WF-08 | OPEX Feedback Loop — Cierre de Alertas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "opex-close-alert",
        "authentication": "none",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-cierre-alerta",
      "name": "Webhook: Cerrar Alerta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "notes": "Llamado por wf_04 cuando el analista cierra una alerta con causa raíz. También puede llamarse desde dashboard."
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{\"ok\": true}",
        "options": { "responseCode": 200 }
      },
      "id": "ack-webhook",
      "name": "ACK 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [240, 120]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst alertId = body.alert_id;\nconst veredicto = body.veredicto;\nconst causaRaizCodigo = body.causa_raiz_codigo || null;\nconst causaRaizTexto = body.causa_raiz_texto || null;\nconst cerradoPor = body.cerrado_por || body.user_name || 'sistema';\nconst canalCierre = body.canal_cierre || 'webhook';\nconst montoRecuperado = Number(body.monto_recuperado || 0);\n\nif (!alertId) throw new Error('alert_id es requerido');\nif (!veredicto) throw new Error('veredicto es requerido');\nif (!['confirmado','false_positive','escalado','pendiente'].includes(veredicto)) {\n  throw new Error(`veredicto inválido: ${veredicto}`);\n}\n\nreturn [{\n  json: {\n    alert_id: alertId,\n    veredicto,\n    causa_raiz_codigo: causaRaizCodigo,\n    causa_raiz_texto: causaRaizTexto,\n    cerrado_por: cerradoPor,\n    canal_cierre: canalCierre,\n    monto_recuperado: montoRecuperado\n  }\n}];"
      },
      "id": "validar-cierre",
      "name": "Validar Datos de Cierre",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 420]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  a.id, a.codigo_alerta, a.contratista_id, a.tipo_servicio, a.zona,\n  a.generada_en, a.severidad,\n  a.causa_raiz_sugerida AS causa_raiz_ia\nFROM opex_alerts a\nWHERE a.id = '{{ $json.alert_id }}'\nLIMIT 1;",
        "options": {}
      },
      "id": "query-alerta",
      "name": "Query Datos Alerta",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 420],
      "alwaysOutputData": true,
      "credentials": { "postgres": { "id": "92nLfZ0IlzU004no", "name": "Supabase Oráculo del Opex" } }
    },
    {
      "parameters": {
        "jsCode": "const cierreData = $('Validar Datos de Cierre').first().json;\nconst alertaData = $input.first().json;\n\nif (!alertaData || !alertaData.id) {\n  throw new Error(`Alerta ${cierreData.alert_id} no encontrada en opex_alerts`);\n}\n\nconst generadaEn = new Date(alertaData.generada_en);\nconst ahora = new Date();\nconst tiempoHoras = (ahora - generadaEn) / (1000 * 60 * 60);\n\nlet iaAcerto = null;\nif (cierreData.causa_raiz_codigo && alertaData.causa_raiz_ia) {\n  const iaLower = (alertaData.causa_raiz_ia || '').toLowerCase();\n  const humanLower = (cierreData.causa_raiz_texto || '').toLowerCase();\n  iaAcerto = humanLower.split(' ').some(word => word.length > 4 && iaLower.includes(word));\n}\n\nreturn [{\n  json: {\n    alert_id: cierreData.alert_id || alertaData.id,\n    codigo_alerta: alertaData.codigo_alerta,\n    contratista_id: alertaData.contratista_id,\n    tipo_servicio: alertaData.tipo_servicio,\n    zona: alertaData.zona,\n    veredicto: cierreData.veredicto,\n    causa_raiz_codigo: cierreData.causa_raiz_codigo,\n    causa_raiz_texto: cierreData.causa_raiz_texto,\n    causa_raiz_ia: alertaData.causa_raiz_ia,\n    ia_acerto: iaAcerto,\n    accion_tomada: cierreData.veredicto === 'confirmado' ? 'Alerta confirmada y gestionada' : null,\n    monto_recuperado: cierreData.monto_recuperado,\n    monto_ajustado: 0,\n    cerrado_por: cierreData.cerrado_por,\n    canal_cierre: cierreData.canal_cierre,\n    tiempo_resolucion_horas: Math.round(tiempoHoras * 10) / 10,\n    alert_db_id: alertaData.id,\n    nuevo_estado: cierreData.veredicto === 'false_positive' ? 'false_positive' : 'resolved'\n  }\n}];"
      },
      "id": "preparar-case",
      "name": "Preparar Datos del Case",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 420]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE opex_alerts\nSET estado = '{{ $json.nuevo_estado }}',\n    resuelta_en = NOW(),\n    resuelta_por = '{{ $json.cerrado_por }}'\nWHERE id = '{{ $json.alert_db_id }}';\n\nINSERT INTO opex_cases (\n  alert_id, codigo_alerta, contratista_id, tipo_servicio, zona,\n  veredicto, causa_raiz_codigo, causa_raiz_texto, causa_raiz_ia, ia_acerto,\n  accion_tomada, monto_recuperado, monto_ajustado,\n  cerrado_por, canal_cierre, tiempo_resolucion_horas\n) VALUES (\n  '{{ $json.alert_id }}',\n  '{{ $json.codigo_alerta }}',\n  '{{ $json.contratista_id }}',\n  '{{ $json.tipo_servicio }}',\n  '{{ $json.zona }}',\n  '{{ $json.veredicto }}',\n  {{ $json.causa_raiz_codigo ? `'${$json.causa_raiz_codigo}'` : 'NULL' }},\n  {{ $json.causa_raiz_texto ? `'${$json.causa_raiz_texto.replace(/'/g, \"''\")}'` : 'NULL' }},\n  {{ $json.causa_raiz_ia ? `'${$json.causa_raiz_ia.replace(/'/g, \"''\")}'` : 'NULL' }},\n  {{ $json.ia_acerto !== null ? $json.ia_acerto : 'NULL' }},\n  {{ $json.accion_tomada ? `'${$json.accion_tomada}'` : 'NULL' }},\n  {{ $json.monto_recuperado || 0 }},\n  0,\n  '{{ $json.cerrado_por }}',\n  '{{ $json.canal_cierre }}',\n  {{ $json.tiempo_resolucion_horas }}\n)\nRETURNING id, codigo_alerta;",
        "options": {}
      },
      "id": "insertar-case",
      "name": "Insertar Case y Actualizar Alerta",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [960, 420],
      "credentials": { "postgres": { "id": "92nLfZ0IlzU004no", "name": "Supabase Oráculo del Opex" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE opex_rules r\nSET\n  fp_rate = COALESCE((\n    SELECT\n      SUM(CASE WHEN c.veredicto = 'false_positive' THEN 1.0 ELSE 0 END) / NULLIF(COUNT(*), 0)\n    FROM opex_cases c\n    WHERE c.codigo_alerta = r.codigo_regla\n      AND c.cerrado_en >= NOW() - INTERVAL '30 days'\n  ), 0),\n  tp_rate = COALESCE((\n    SELECT\n      SUM(CASE WHEN c.veredicto = 'confirmado' THEN 1.0 ELSE 0 END) / NULLIF(COUNT(*), 0)\n    FROM opex_cases c\n    WHERE c.codigo_alerta = r.codigo_regla\n      AND c.cerrado_en >= NOW() - INTERVAL '30 days'\n  ), 0),\n  n_falsos_positivos = (\n    SELECT COUNT(*) FROM opex_cases c\n    WHERE c.codigo_alerta = r.codigo_regla AND c.veredicto = 'false_positive'\n  ),\n  n_activaciones = (\n    SELECT COUNT(*) FROM opex_alerts a\n    WHERE a.codigo_alerta = r.codigo_regla\n  ),\n  modificado_en = NOW()\nWHERE r.codigo_regla = '{{ $('Preparar Datos del Case').item.json.codigo_alerta }}';\n\nSELECT codigo_regla, fp_rate, tp_rate, n_activaciones, n_falsos_positivos\nFROM opex_rules\nWHERE codigo_regla = '{{ $('Preparar Datos del Case').item.json.codigo_alerta }}';",
        "options": {}
      },
      "id": "actualizar-metricas-regla",
      "name": "Actualizar Métricas de la Regla",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, 420],
      "alwaysOutputData": true,
      "credentials": { "postgres": { "id": "92nLfZ0IlzU004no", "name": "Supabase Oráculo del Opex" } }
    },
    {
      "parameters": {
        "jsCode": "const regla = $input.first().json || {};\nconst threshold = 0.40;\nconst fpRate = Number(regla.fp_rate || 0);\nconst fpAlto = fpRate >= threshold;\nconst fpDisplay = `${(fpRate * 100).toFixed(0)}%`;\n\nconst slack_blocks = fpAlto ? [\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `⚠️ *Calidad de regla — Revisión sugerida*\\nRegla *${regla.codigo_regla}* tiene una tasa de falsos positivos del *${fpDisplay}* en los últimos 30 días (${regla.n_falsos_positivos || 0} FP de ${regla.n_activaciones || 0} activaciones).\\n\\nEl workflow de recalibración mensual (día 3) propondrá un ajuste de umbral formalmente. Si necesitas ajuste inmediato, modifica \\`opex_rules\\` en Supabase.`\n    }\n  }\n] : [];\n\nreturn [{\n  json: {\n    ...regla,\n    fp_rate_alto: fpAlto,\n    fp_pct_display: fpDisplay,\n    channel: 'C0AVCTBV665',\n    slack_blocks\n  }\n}];"
      },
      "id": "evaluar-threshold",
      "name": "Evaluar Threshold FP Rate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "leftValue": "={{ $json.fp_rate_alto }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-fp-alto",
      "name": "¿FP Rate supera umbral?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1680, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json; charset=utf-8" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.channel, blocks: $json.slack_blocks, text: 'Calidad de regla ' + $json.codigo_regla + ': FP rate ' + $json.fp_pct_display }) }}",
        "options": {}
      },
      "id": "slack-fp-aviso-http",
      "name": "Avisar FP Rate Alto en Slack (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 300],
      "credentials": { "httpHeaderAuth": { "id": "GciOWwHMTLVJJuAu", "name": "Header Auth account 12" } }
    }
  ],
  "connections": {
    "Webhook: Cerrar Alerta": {
      "main": [[
        { "node": "Validar Datos de Cierre", "type": "main", "index": 0 },
        { "node": "ACK 200", "type": "main", "index": 0 }
      ]]
    },
    "Validar Datos de Cierre": { "main": [[{ "node": "Query Datos Alerta", "type": "main", "index": 0 }]] },
    "Query Datos Alerta": { "main": [[{ "node": "Preparar Datos del Case", "type": "main", "index": 0 }]] },
    "Preparar Datos del Case": { "main": [[{ "node": "Insertar Case y Actualizar Alerta", "type": "main", "index": 0 }]] },
    "Insertar Case y Actualizar Alerta": { "main": [[{ "node": "Actualizar Métricas de la Regla", "type": "main", "index": 0 }]] },
    "Actualizar Métricas de la Regla": { "main": [[{ "node": "Evaluar Threshold FP Rate", "type": "main", "index": 0 }]] },
    "Evaluar Threshold FP Rate": { "main": [[{ "node": "¿FP Rate supera umbral?", "type": "main", "index": 0 }]] },
    "¿FP Rate supera umbral?": {
      "main": [
        [{ "node": "Avisar FP Rate Alto en Slack (HTTP)", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "OPEX-BIA" }, { "name": "Fase-3" }, { "name": "Evolutivo" }, { "name": "Feedback-Loop" }],
  "meta": {
    "notes": "Mecanismo evolutivo central. Cada cierre de alerta crea un case en opex_cases, recalcula fp_rate/tp_rate en opex_rules y avisa en Slack si fp_rate > 40%. Refactor: credenciales unificadas a 92nLfZ0IlzU004no, Slack v2.2 reemplazado por HTTP Request con Header Auth (GciOWwHMTLVJJuAu) para Block Kit dinámico. Aviso FP-alto a #opex-alertas (C0AVCTBV665)."
  }
}
